/* general settings */

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	background-color: #fff;
	color: #000; 	
	font-family: 'Kalam', cursive;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility; /*browser emphasizes legibility over rendering speed and geometric precision*/
}

.clearfix {zoom: 1;}
.clearfix:after {					
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

/* reusable */

.row {
	max-width: 1140px;
	margin: 0 auto; 	
}

section {
	padding: 4rem 0;
	color: #000;
}


h1, h2, h3 {
	margin-bottom: 2rem;
	letter-spacing: 2px;
	word-spacing: 2px;
}

h2 {
	text-align: center;
	font-size: 300%;
}

h2:after,
.rooms:after {
	display: block;
	margin: 0 auto;
	margin-top: 1rem;
	width: 5rem;
	height: 2px;
	background-color: #f1c40f;
	content: " ";
}

h2 + p {
	width: 70%;
	margin-left: 15%;
}

p { line-height: 145%;}

.colored {color: #f1c40f;}

a {text-decoration: none;}

/* button */
.btn {
	display: inline-block;
	position: absolute;
	right: 10%;
	bottom: 15%;
	text-decoration: none;	
	font-size: 150%;
	color: #fff;
	font-weight: 700;
	padding: .6rem 2rem .4rem; 
	border-radius: 100px;
	border: 1px solid #fff;
	background-color: #f1c40f;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.btn:hover {
	color: #f1c40f;
	background-color: transparent;
}

/* HERO SECTION 'header' */

header {
	height: 100vh;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0, 0.5)), to(rgba(0,0,0, 0.5))), url('../img/hero.jpg');
	background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url('../img/hero.jpg');
	background-size: cover;					
	background-position: center;		
	background-repeat: no-repeat;
}

header h1 {
	position: absolute;
	left: 10%;
	top: 25%;
	font-size: 350%;
	color: #fff;
	text-align: left;
}

/* navigation */
.nav {
	float: right;
	list-style: none;
	margin-right: 1rem;
}

.nav li {
	display: inline-block;
	margin-left: 1.5rem;
	margin-top: 3rem;
	font-weight: 400;
}

.nav li a {
	text-transform: uppercase;
	color: #fff;
	font-size: 120%;
	border-bottom: 2px solid transparent;
	-webkit-transition: all .2s;
	transition: all .2s;
}

.nav li a:hover { border-bottom: 2px solid #f1c40f;}

/* sticky navigation */
.sticky {
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.95);
	-webkit-box-shadow: 0 .2rem .2rem  #eee;
	box-shadow: 0 .2rem .2rem  #eee; 
	z-index: 9999;
}

.sticky .nav {
	text-align: center;
	float: none;
}

.sticky .nav li { margin: 1rem 2rem .25rem;}

.sticky .nav li a {color: #000;}

.sticky .nav a:hover { border-bottom: 3px solid #f1c40f;}

/* mobile navigation */
.nav-icon {
	float: right;
	margin-top: 3rem;
	margin-right: 5%;
	cursor: pointer;
	display: none;
}

.fa-bars, .fa-times-circle {
	font-size: 200%;
	color: #f1c40f;
}

/* ABOUT SECTION 'buchmila' */

.about .fa {
	display: block;
	font-size: 300%;
	color: #f1c40f;
	margin-bottom: 1rem;
}

.box {
	margin-top: 2rem;
	padding: 1%;
	text-align: center;
}

.box h3 {
	font-size: 140%;
	margin-bottom: 1rem;
}

.box p {
	font-size: 90%;
}

/* SHOWCASE SECTION 'atrakcje' */

.features { padding: 0; }

.showcase {
	width: 100%;
	list-style: none; 
}

.showcase li {
	display: block; 
	float: left;
	width: 25%;
}

.showcase-photo {
	width: 100%;
	margin: 0 auto;	
	font-size: 0; 
	overflow: hidden;
	background-color: #000;
}

.showcase-photo img {
	width: 100%;
	height: auto;
	opacity: .7;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all .5s;
	transition: all .5s;
}

.showcase-photo img:hover {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* ROOMS SECTION 'pokoje' */

.hall {
	background-image: url('../img/hall.jpg');
	background-size: contain;	
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 20rem;
}

.rooms-features {
	list-style: none;
	max-width: 90%;
	margin: 5%;
	padding: 1%;
	margin-top: 2.5rem;
}

.rooms-features .fa {
	color: #f1c40f;
	padding: .5rem;
	margin-right: 1rem;
	font-size: 150%;
}

.rooms p { margin-bottom: 2rem;}

/* ROOMS SECTION continued - without link in navigation */

.rooms2 { padding: 0;}

.showrooms {
	width: 100%;
	list-style: none; 
}

.showrooms li {
	display: block; 
	float: left;
	width: 33.3%;
}

.showrooms-photo {
	width: 85%;
	margin: 0 auto;	
	overflow: hidden;
	position: relative;
}

.showrooms-photo img {
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	bottom: 100%;
	left: 50%;
	background-color: #f1c40f;
	opacity: .6;
	overflow: hidden;
	width: 50%;
	height: 0;
	-webkit-transition: 1s ease;
	transition: 1s ease;
}

li:nth-child(2) .overlay {	left: 25%;}

li:nth-child(3) .overlay {	left: 0;}

.showrooms-photo:hover .overlay {
	top: 0;
	height: 100%;
}

.overlay-text {
	color: #000;
	font-weight: 700;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.rooms:after { margin-top: 3rem; }

/* CONTACT SECTION 'kontakt' */

.map-box {
	width: 100%;
	height: 30rem;	
	position: relative;
	margin-top: 3rem;
}

.map {
	width: 100%;
	height: 30rem;
	position: relative;
	z-index: 0;
}

.map-contact {
	width: 40%;
	height: 30rem;
	position: absolute;
	top: 0;
	right: 0; 
	background-color: rgba(241, 196, 15, 0.6);
	z-index: 2;
}

.map-contact h2:after {	display: none; }

.contact-items {
	list-style: none;
	margin-top: 3rem;
	text-align: center;
}

.contact-items .fa {
	display: block;
	color: #fff;
	font-size: 150%;
	margin-bottom: .5rem;
}

.contact-items a {
	display: block;
	color: #000;
	font-size: 120%;
	margin: 1rem auto;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.contact-items a:hover {
	font-weight: 700;
	letter-spacing: 1px;
}

.social-links {
	list-style: none;
	text-align: center;
}

.social-links li {
	padding: 1.5rem;
	font-size: 200%;
	display: inline-block; 
	color: #000;
}

.social-links .fa {
	color: #000;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.fa-facebook-official:hover {	color: #3b5999;}

.fa-youtube-play:hover { color: #cd201f;}

.fa-rss:hover { color: #f57d00;}

.contact { padding-bottom: 2rem; }

/* FOOTER SECTION */
footer {
	text-align: center;
	padding-bottom: 1rem;
}

footer a {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: relative;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
	color: #000;
}

footer a:hover { color: #f1c40f; }

footer a.then:after {
	content: "";
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
}

footer a.then:after { bottom: -1px; }

footer a.then:after {
	height: 1px;
	width: 0;
	background: #f1c40f;
}

footer a.under:after {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

footer a.then:hover:after {
	width: 90%;
}

/* animations thanks to Dan Eden and his animate.css */
.js--animation1,
.js--animation2,
.js--animation3 {	opacity: 0; }

.js--animation1.animated,
.js--animation2.animated, 
.js--animation3.animated {	opacity: 1; }